.App {
  text-align: center;
}

.App-logo {
  height: 84px;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: left;
  align-items: center;
  justify-content: left;
  padding: 10px;
  font-size: 18px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Donation-amount-button{
  border: 2px solid #929495;
  background-color: white;
  color: #929495;
  width: 80px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  margin-top: 40px;
  font-weight: bold;
}

.Donation-amount-button-filled{
  border: 2px solid #929495;
  background-color: #929495;
  color: white;
  width: 80px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  margin-top: 40px;
  font-weight: bold;
}

.Charity-header{
  color: #212121;
  font-size: calc(18px + 2vmin);
  font-weight: bold
}

.Charity-subheader{
  color: #929495;
  font-size: calc(10px + 1vmin);
  font-weight: bold;
  margin-top: 10px
}

.Charity-title-wrapper{
  padding: 10px;
}

hr{
  width: 100px;
  margin-top: 10px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
